body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 clamp(2.5rem, 20.5vw - 11rem, 10rem) 0
    clamp(2.5rem, 20.5vw - 11rem, 10rem);

  background-color: #fafafa;
  min-height: 100dvh;
  overflow-x: hidden;
}

.main-page-content {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1295.45px;
  width: 100%;
  min-height: 100dvh;
}

.background-shape {
  position: absolute;
  top: -1.5rem;
  left: 0;
  z-index: -1;
}

.background-shape-container {
  position: absolute;

  top: 42rem;
  bottom: 0rem;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.background-shape2 {
  z-index: -1;
}
.layout-grid {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 10rem;
  left: 10rem;

  /* background-color: #4040402e; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.layout-column {
  background-color: #30303032;
  width: 1fr;
}

header {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.brand-logo-and-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.brand-name {
  color: var(--color-black, #000);
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 2.25rem */
  letter-spacing: 0.01875rem;
}

.brand-name.small {
  color: var(--color-black, #000);
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 2.25rem */
  letter-spacing: 0.012rem;
}

.what-is-gift-aid-button {
  border: none;
  background-color: var(--green-400);
  border-radius: 0.625rem;
  /* button drop shadow */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);

  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.what-is-gift-aid-button:hover {
  background-color: hsl(174, 37%, 72%);
}

.what-is-gift-aid-button:active {
  background-color: hsl(174, 37%, 65%);
  box-shadow: none;
}

.what-is-gift-aid-text {
  color: white;
  text-align: center;
  padding: 1.25rem 2rem 1.25rem 2rem;

  /* Title 1 bold */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.35rem */
}

.calculator-and-result-container {
  display: flex;
  margin-top: 10rem;
  justify-content: space-between;
}

/*
   PAGE TITLE
*/

.page-title-container {
  margin-top: 5.625rem;
  /* margin-right: 1rem; */
  position: relative;
}

.tick-icon {
  position: absolute;
  left: -1.375rem;
  top: -5.125rem;
}

.page-title {
  color: var(--Black, #000);

  font-size: 55px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%; /* 4.8125rem */
  letter-spacing: -0.06875rem;
}
.page-title span {
  display: block;
}
.underline {
  position: absolute;
  left: 5.3rem;
  width: 11rem;
}

.open-hand-icon-container {
  position: absolute;
  right: 1.3rem;
  top: 9.4rem;
  /* padding-right: 4rem; */
}
.open-hand-icon {
  position: relative;
}

.pound-sign {
  position: absolute;
  left: 0.77rem;
  top: 0.28rem;
  transform: rotate(-32.253deg);

  color: var(--Foundation-Blue-blue-200, #9ab8d8);
  text-align: center;
  font-family: Roboto;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 900;
  line-height: 140%; /* 1.925rem */
  letter-spacing: -0.0275rem;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
}

.open-hand {
  position: absolute;
  top: 1.2rem;
  left: 0.8rem;
}

.result-popup-container {
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.result-popup {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 46px;
  /* width: 10rem; */
  /* height: 10rem; */

  padding: 7rem 2.5rem 2.5rem 2.5rem;
  background-color: var(--blue-700, #194779);
  text-align: center;
}

.result-message {
  position: relative;
  font-size: 40px;

  letter-spacing: -0.06875rem;
  line-height: 120%;
  font-weight: 600;
  color: var(--orange-50, #fdfdfd);
  /* width: 100%; */
}

.confirmation-checkmark {
  position: absolute;
  top: -2.35rem;
  right: 2.65rem;
  width: 4.3rem;
}
.result-info-container {
  margin-top: 3.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-description {
  font-size: 16px;
  line-height: 150%;
  color: var(--orange-50, #fdfdfd);
  max-width: 19rem;
  text-align: center;
}

.breakdown-button {
  margin-top: 1rem;
  border: none;
  border-radius: 7px;

  background-color: var(--blue-400, #4f83bb);
  padding: 1rem 1.25rem 1rem 1.25rem;

  color: var(--orange-50, #fdfdfd);
  font-size: 20px;
  line-height: 120%;
  cursor: pointer;
  transition: 0.1s;
}

.breakdown-button:hover {
  background-color: var(--blue-300, #6c97c6);
}

.breakdown-button:active {
  background-color: var(--blue-400, #4f83bb);
}

.result-notice {
  margin-top: 2rem;
  font-size: 13px;
  line-height: 120%;
  color: var(--orange-50, #fdfdfd);

  max-width: 27.8rem;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  /* position: absolute; */

  margin-top: auto;
  gap: 1.5rem;
  margin-top: 10rem;
  padding-bottom: 2rem;
}
.footer-container hr {
  background-color: var(--neutral-300, #aaaaaa);
  background-color: var(--neutral-200, #c5c5c5);
  border: none;
  height: 1px;
}

.footer-information {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.brand-and-copyright {
  display: flex;
  gap: 1.5rem;
  align-items: end;
}

.caption {
  font-size: 13;
  line-height: 120%;
}

@media (min-width: 1415px) {
  .page-title {
    font-size: 65px;
  }
  .underline {
    position: absolute;
    left: 6.5rem;
    width: 13rem;
  }
  .open-hand-icon-container {
    position: absolute;
    right: 1.3rem;
    top: 10.4rem;
  }

  .result-message {
    font-size: 46px;
  }
  .result-popup {
    padding: 7.5rem 4.5rem 3rem 4.5rem;
  }
  .confirmation-checkmark {
    position: absolute;
    top: -2.6rem;
    right: 3.2rem;
    width: 4.9rem;
  }
}

.test {
  width: 10rem;
  height: 10rem;

  background-color: red;
}
