main {
  display: grid;
  /* margin: 0 10rem 15rem 10rem; */
  margin: 0 10rem 15rem 10rem;

  /* margin: 0 2.5rem 15rem 2.5rem; */
  max-width: 1295.45px;
}

.layout-grid {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 10rem;
  left: 10rem;

  /* background-color: #4040402e; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.layout-column {
  background-color: #30303032;
  width: 1fr;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.header-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.title {
  color: var(--color-black, #000);
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 2.25rem */
  letter-spacing: 0.01875rem;
}

.what-is-gift-aid-button {
  border: none;
  background-color: var(--green-400);
  border-radius: 0.625rem;
  /* button drop shadow */
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);

  justify-content: center;
  align-items: center;
}

.what-is-gift-aid-text {
  color: white;
  text-align: center;
  padding: 1.25rem 2rem 1.25rem 2rem;

  /* Title 1 bold */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.35rem */
}

.calculator-and-result-container {
  display: flex;
  margin-top: 10rem;
  justify-content: space-between;
}

/*
   PAGE TITLE
*/

.page-title-container {
  margin-top: 5.625rem;
  /* margin-right: 4rem; */
  position: relative;
}

.tick-icon {
  position: absolute;
  left: -1.375rem;
  top: -5.125rem;
}

.page-title {
  color: var(--Black, #000);
  /* width: 34.91231rem; */
  /* width: 26.25rem; */

  font-size: 65px;
  /* font-size: 55px; */
  font-style: normal;
  font-weight: 900;
  line-height: 140%; /* 4.8125rem */
  letter-spacing: -0.06875rem;
}
.page-title span {
  display: block;
}
.underline {
  position: absolute;
  left: 6.5rem;
  width: 13rem;
}

.open-hand-icon-container {
  position: absolute;
  right: 1.3rem;
  top: 10.4rem;
  /* padding-right: 4rem; */
}
.open-hand-icon {
  position: relative;
}

.pound-sign {
  position: absolute;
  left: 0.77rem;
  top: 0.28rem;
  transform: rotate(-32.253deg);

  color: var(--Foundation-Blue-blue-200, #9ab8d8);
  text-align: center;
  font-family: Roboto;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 900;
  line-height: 140%; /* 1.925rem */
  letter-spacing: -0.0275rem;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
}

.open-hand {
  position: absolute;
  top: 1.2rem;
  left: 0.8rem;
}

.vector1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.vector2 {
  position: absolute;
  top: 60rem;
  right: 0;
  z-index: -1;
}

@media (min-width: 1615px) {
  main {
    margin: 0 auto;
  }
}
